version: '2'
services:

  web:
    build:
      context: web
      dockerfile: 'Dockerfile'
    environment:
      - PERSONAL_WEBSITE_PORT=8080
    ports:
      - '8080:8080'
    volumes:
      - ./web/public:/personal_website/public

  maps-backend:
    build:
      context: maps
      dockerfile: 'Dockerfile'
    ports:
      - '3000:3000'

  haproxy:
    build:
      context: haproxy
      dockerfile: 'Dockerfile'
    ports:
      - '80:80'
      - '443:443'
      - '3002:3002'
    volumes:
      - ./haproxy/ssl:/usr/local/etc/ssl
    links:
      - maps-backend
      - web