.link
{
   color:#0404B4;
   text-decoration: none; 
   background-color: none;
}

.contact-banner i {
	color: #222;
}

.black{
	color:#000000;
}

h3:before { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
}

h2:before { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
}